*{
    box-sizing: border-box;
    margin: 0;
    font-family: monospace;
    --color-principal: rgb(36, 36, 36);
}
/*************************Nav*******************/
.nav{
    width: 100%;
    height:10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(46, 46, 46);
    position: sticky;
    top: 0;
    flex-wrap: wrap;
}
.nav h1{
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px rgb(255 94 0);
}
.nav a{
    margin-left:20px;
    text-decoration: none;
    border-bottom: solid rgb(255, 255, 255);
    color: white;
}
.nav a:hover{
    color: rgb(255, 94, 0);
}
/**********************Subtitulos*****************/
.titulo-seccion{
    text-align: center;
    font-size: 40px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-shadow: 2px 2px rgb(255, 94, 0);
}
/************************Sobre mi****************************/
.contenedor-sobre-mi{
    background-image: url('../img/fondo.jpg');
    background-color:rgb(66, 45, 45);
    background-blend-mode: soft-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.sobre-mi-titulo{
    color: white;
}
.contenido-sobre-mi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-img{
    width: 400px;
    min-width: 320px;
}
.contenedor-texto{
    width: 700px;
    color: white;
    text-align: justify;
    line-height: 50px;
    font-size: 15px;
}
/**********************Contenedores-tarjetas y tarjetas**************/
.contenedor-seccion{
    background-color: lightgrey;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}
.contenedor-tarjetas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tarjeta{
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    width: 350px;
    padding-bottom: 5%;
    box-shadow: 10px 10px 0px 0px rgb(61, 60, 60);
}
.tarjeta img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    transition: all .5s;
}
.tarjeta img:hover{
    transform: rotate(10deg);
}
.tarjeta p{
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 25px;
}
.tarjeta a{
    padding: 5px;
    border: solid 1px rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.tarjeta a:hover{
    background-color: rgb(255, 94, 0);
    color:white
}
/********************Footer*******************/
footer{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}
footer a img{
    width: 100%;
    height: 5vh;
}
/*************Responsive*****************/
@media screen and (min-width:320px) and (max-width:540px) {
    .nav{
        height: 15vh;
    }
    .titulo-seccion{
        padding-top: 25%;
    }
    .contenedor-sobre-mi{
        height: auto;
    }
    .contenedor-texto{
        text-align: center;
        padding: 5%;
    }
    .tarjeta p{
        text-align: center;
        margin: 20px 15px 15px 15px;
    }
    .tarjeta a{
        display:block;
        text-align: center;
        margin: 0px 10px 10px 10px;
    }
}
@media screen and (min-width:541px) and (max-width:1024px) {
    .titulo-seccion{
        padding-top: 15%;
    }
    .contenedor-sobre-mi{
        height: auto;
    }
    .contenedor-texto{
        text-align: center;
        padding: 5%;
    }
    .tarjeta p{
        text-align: center;
        margin: 20px 15px 15px 15px;
    }
    .tarjeta a{
        display:block;
        text-align: center;
        margin: 0px 10px 10px 10px;
    }
}
